body {
    background-color: #0B1324;
    font-family: "Poppins", sans-serif;
    color: #C1CBF4;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container * {
    flex: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #50E2BA;
    text-decoration: underline;
}

h1 {
    text-align: center; 
    color: #50E2BA;
}

#navbar {
    font-family: "Roboto Mono", monospace;
}

#navbar h2{
    font-weight: 100;
}

#nav-name {
    font-family: "Poppins", sans-serif;
    color: #50E2BA;
    display: flex;
    align-items: center;
}

#nav-name img {
    max-width: 50px;
    max-height: 50px;
}

#nav-links {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#home {
    padding-top: 100px;
    margin-bottom: 80px;
}

#pic {
    padding: 0 50px 0 50px;
}

#pic img {
    width: 100%;
    height: auto;
}

#cards {
    padding-left: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
    margin: 0 40px 20px 0;
    background-color: #757EA0;
    border-radius: 25px;
    width: 280px;
    height: 400px;
}

.card img {
    align-self: center;
    width: 100%;
    height: 250px;
    border-radius: 25px;
}

.card p {
    margin: 10px 0 0 0;
}

.title {
    font-size: 1.25em;
    font-weight: 600;
}

.skill {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
}

.skill img {
    width: 80px;
    margin-right: 10px;
}

#autobiography p {
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

#footer {
    margin-bottom: 30px;
}

#footer img{
    max-width: 150px;
    max-height: 150px;
}

#footer a {
    font-size: 1.25em;
    font-weight: 600;
}